        <!--FOOTER-->
        <footer>
            <div class="inner-width">
                <div class="copyright">
                    &copy; 2022 | Crée & Designé par <a href="https://dalalcode.com">DalalCode</a>
                </div>
                <div class="sm">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-facebook-f"></a>
                </div>
            </div>
        </footer>

        <!--Remonter-->
