
            <!-- Navbar-->
        
        <nav class="navbar">
            <div class="inner-width">
                <a href="/" class="logo"></a>
                <button class="menu-toggler">
                    <span></span><span></span><span></span>
                </button>
                <div class="navbar-menu">
                    <a href="#home">Accueil</a>
                    <a href="#about">A-propos</a>
                    <a href="#services">Services</a>
                    <a href="#education">Education</a>
                    <a href="#works">Réalisations</a>
                    <a href="#contact">Contactez-moi</a>
                </div>
            </div>
        </nav>

        <!-- Home-->